<div class="container">

  <p> id: <%= @lawnmower.id %> <br><br> make: <%= @lawnmower.make %> <br><br> model: <%= @lawnmower.model %>  </p>

  <p> Contact owner at: <%= @lawnmower.owner.email %>, <%= @lawnmower.owner.phone_number %></p>

</div>